{% extends "base.html" %}


{% block body %}

<style>

.zhuan {
    width: 20px;
    height: 20px;
    background: grey;
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
    transition: width 2s, height 2s, transform 2s;
	float: right;
}


.zhuan:hover {
    width: 382px;
    height: 400px;
    -webkit-transform: rotate(720deg); 
    transform: rotate(720deg);
	background: sienna;
}


div .l {
	float: left;
	width: 65%;
	background: #f1f1f1;
}

div .z {
	float: right;	
	width: 10%;
	background: #f1f1f1;
	margin-left: 20px;
	margin-right: 20px;
}


div .r {
	float: right;
	width: 20%;
	background: #f1f1f1;
	margin-left: 20px;
	margin-right: 20px;
}



div.polaroid {
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  margin-bottom: 50px;
}


div.container {
  padding: 10px;
}



ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 200px;
	background-color: sienna;
}

li a{
	display: block;
	color: #000;
	padding: 8px, 16px;
	text-decoration: none;
}
	
li a:hover {
	background-color: #555;
	color: white;
}

</style>

<div>
	<div class="l">
		<a href="{{ url_for("main.add") }}" style="color:sienna; font-size:75px; background-color:white;" >+</a>
	
		{% for i in role %}
			<dl>
				<dd>
					<div style="float:right; width:72%; background-color: #aaa; height:203px; margin-right:20px; margin-bottom:50px;">
						{{ i.txt }}
					</div>
	
					<div class="polaroid">
						<img src="{{ url_for("static", filename=i.image) }}" alt="Norway" style="width:100%">
						<div class="container">
							{{ i.name }}
							</br>
							{{ i.date }}
						</div>
					</div>
				</dd>
		
				<dd>
					
				</dd>
			</dl>
		{% endfor %}
	
	
	
	
	</div>



	<div class="r">
		<div style="height:106px;">
			hello world
		</div>
		{% for i in role %}
			<div style="float:left; width:100%; background-color: #aaa; height:203px; margin-bottom:50px;">
				<ul>	
					<li><a href="{{ url_for("main.edit", id=i.id) }}" >编辑</a></li>
					<li><a href="{{ url_for("main.rm", id=i.id) }}" >删除</a></li>
				</ul>
			</div>
		{% endfor %}

		<div class="zhuan">
		</div>
		
	</div>



	
	<div class="z">
		<div style="height:106px;">
		</div>
		{% for j in s %}
			{% if j == 0 %}
				<div style="float:left; width:100%; background-color: #aaa; height:203px; margin-bottom:50px;">
					<h3 style="color:red;">时间到</h3>
				</div>
			{% else %}	
				<div style="float:left; width:100%; background-color: #aaa; height:203px; margin-bottom:50px;">
					<h3 style="color:red;">还有{{ j }}天</h3>
				</div>
			{% endif %}
		{% endfor %}


	</div>

	
</div>

{% endblock %}
