{% extends "base.html" %}


{% block body %}
	<a href="{{ url_for("main.add") }}" style="color:sienna; font-size:75px; background-color:white;" >+</a>

	{% for i, j in role %}
	<dl>
		<dd>
			{{ i.name }}
			</br>
			{{ i.date }}
		</dd>

		<dd>
			{{ i.txt }}
			</br>
			<button><a href="{{ url_for("main.edit", id=i.id) }}" style="color:sienna;" >编辑</a></button>
			<button><a href="{{ url_for("main.rm", id=i.id) }}" style="color:sienna;" >删除</a></button>
			
			</br>
			{% if j == 0 %}
				时间到
			{% else %}	
				还有{{ j }}天
			{% endif %}
		</dd>
	</dl>
	{% endfor %}



<style>
.zhuan {
    width: 100px;
    height: 100px;
    background: sienna;
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
    transition: width 2s, height 2s, transform 2s;
}

.zhuan:hover {
    width: 200px;
    height: 200px;
    -webkit-transform: rotate(180deg); 
    transform: rotate(180deg);
}

</style>


<center>
	<div class="zhuan">
		转
	</div>
</center>


{% endblock %}
