<!doctype html>
<html>
<head>
	<meta charset='utf-8'>
	<title>添加数据</title>
</head>
<body>
	<form method='post'>
		数据名:<input type='text'name='userming' size='20'> 
		数据值:<input type='int' name='userval'>
		<input type='submit' value='添加'>
	</form>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
</body>
</html>

