<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{% block title %}Flasky{% endblock %}</title>

<style>

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

</style>

<ul>
	<li>首页</li>
	<li style="float:right;">登陆/<a>注册</a></li>
</ul>
</head>


<body>

{% block body %}
{% endblock %}

{% for message in get_flashed_messages() %}
<div>
	{{ message }}
</div>
{% endfor %}	

</body>
</html>
