<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{% block title %}Flasky{% endblock %}</title>

<style>
.topnav {
  overflow: hidden;
  background-color: #333;
}
 
/* 导航链接 */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
 
/* 链接 - 修改颜色 */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}


a {
	text-decoration: none;
}

</style>


<div class="topnav">
	{% if current_user.is_authenticated %}
		<a href="{{ url_for('main.my') }}">我的</a>
		<a href="{{ url_for('main.index') }}">计划</a>
		<a href="{{ url_for('auth.logout') }}" style="float:right;">登出</a>
	{% else %}
		<a href="{{ url_for('main.base') }}">首页</a>
		<a href="{{ url_for('auth.register') }}" style="float:right;">注册</a>
		<a href="{{ url_for('auth.login') }}" style="float:right;">登陆</a>
	{% endif %}
</div>


</head>


<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<body style="background-color:#d0e4fe;">
	
		{% block body %}
		{% endblock %}

		<center> 
		{% for message in get_flashed_messages() %}
		<div>
			{{ message }}
		</div>
		{% endfor %}	
		</center>
		
		
	</body>

</html>
